/**************************************
GLOBAL
**************************************/

$bodyBgColor: #F9F9FF;
$mainFontColor: #5E5C7F;
$mainFontFamily: 'Rubik',
sans-serif;
$mainHeaderColor: #454360;
$showResponsiveNav: 1200px;
$linkFontColor: #ff4c60;
$linkHoverFontColor: #353353;
$btnBgColor: #ff4c60;

/**************************************
NAVIGATION
**************************************/

$menuBgColor: #353353;
$menuBorderColor: rgba(255, 255, 255, 0.1);
$iconColor: #ffd15c;
$navFontColor: #fff;
$navFontHoverColor: #ffd15c;
$navCopyrightColor: #9c9ab3;

/*************************************
HOME
**************************************/

$homeBgColor: #353353;
$homeFontColor: #fff;
$homeFontHoverColor: #ffd15c;

/*************************************
ABOUT ME
**************************************/

$aboutCloudBg: #fff;
$progressBgColor: #f1f1f1;
$progressBarYellow: #ffd15c;
$progressBarRed: #6e0000;
$progressBarGreen: #09b388;

/*************************************
Services
**************************************/

$uxUiBgColor: #b00b69;
$webDevelopmentBgColor: #420a55;
$photograpgyBgColor: #042069;
$servicesTilesFontColor: #ffffff;

/*************************************
Experience
**************************************/

$timeLineBgColor: #ffffff;
$timeLineSidebarColor: #e40505;

/*************************************
Recen Works
**************************************/

$workTileBgColor: #ffffff;
$workTileOverlayColor: #6c6ce5d7;
$workTileFontColor: #fff;

/*************************************
Pricing plans
**************************************/

$pricingPlanBgColor: #ffffff;
$recommendedFlairBgColor: #6c6ce5d7;
$recommendedFlairFontColor: #ffffff;